[Unit]
Description=WMATA LED Arrival Sign Engine
# Removing network-online.target drastically speeds up boot time.
# The script has internal error handling to wait for Wi-Fi to connect.
After=network.target wmata-wifi-setup.service

[Service]
Type=simple
# Must run as root for /dev/mem access
User=root
# Load the API keys from the local secrets file
EnvironmentFile=/home/brandondiaz/transit-led-sign/.wmata_secrets.env
ExecStart=/home/brandondiaz/wmata_env/bin/python -m src.main
WorkingDirectory=/home/brandondiaz/transit-led-sign
Restart=always
RestartSec=10
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
